<!--<script Configuration -src="https://unpkg.com/snarkdown">-->
<!--<script Configuration -src="https://unpkg.com/marked@/src/">-->
<script Configuration -src="https://unpkg.com/showdown/dist/showdown.min.js">
    let defaultOptions = { allowNamespace: 'x' };
    function _replaceSigiledElements(html, sigil, elemPrefix) {
        const lines = (html + '\n\n').split('\n'); // add space at end
        let moduloRun = '';
        let componentName = '';
        let inBody = false;
        let componentBody = [];
        const results = [];
        for (const line of lines) {
            if (line.startsWith('%')) { // Modulo CMD
                const content = line.replace(/^% ?/, ''); // Collapse 1 space
                if (!componentName) {
                    // Starting a new component
                    componentName = options.elementPrefix + content;
                    results.push('<' + componentName);
                } else if (inBody) {
                    // Already in a component body, should always assume body
                    results.push(content);
                } else if (content.startsWith(' ')) { // At least 2 spaces
                    // Not in body, but space prefixed, is attribute
                    results.push(content);
                    // TODO: Maybe apply regexp to content to ensure attribute?
                } else {
                    // Not in body, but starting body, so close opening tag
                    inBody = true;
                    results.push('>');
                    results.push(content);
                }
            } else if (componentName) {
                results.push('</' + componentName + '>');
            } else {
                results.push(line);
            }
        }
        return results.join('\n');
    }

    function _splitAndWrap(splitBy, wrappingTag, innerTag, html) {
        const splitSlides = html.split(splitBy); // Split by ----
        html = `<${ wrappingTag }>\n`; // Open wrapping tag
        for (const slideContent of splitSlides) { // Loop through slides
            html += `<${ innerTag }>\n${ slideContent }\n</${ innerTag }>`;
        }
        return html + `\n</${ wrappingTag }>`; // Close wrapping tag
    }

    function moduloMarkdown(source, options = defaultOptions) {
        // Unescape
        source = source.replace(/&gt;/gi, '>').replace(/&lt;/gi, '<');
        //let html = snarkdown(source);
        let html = (new showdown.Converter()).makeHtml(source);
        if (options.allowNamespace) {
            html = _replaceSigiledElements(html, '%', options.allowNamespace + '-');
        }
        if (options.slideshow) {
            let { slideshow, slide } = options;
            if (slideshow === true) { // "slideshow: true" is default opts
                slideshow = 'x-SlideShow';
                slide = 'x-Slide';
            }
            html = _splitAndWrap(/<hr *\/?>/ig, slideshow, slide, html);
        }
        return html;
    }

    //modulo.register('util', snarkdown);
    //modulo.register('util', showdown);
    modulo.register('util', moduloMarkdown);
</script>


<!-- Create a simple Markdown component that wraps around moduloMarkdown -->
<Component name="Markdown">
    <Props
        slideshow
        firstslide
        src
    ></Props>
    <State
        results:=null
        source:=null
    ></State>
    <Script lifecycle="initialized">
        const { moduloMarkdown } = modulo.registry.utils;
        function prepareCallback() {
            // TODO: Why is lifecycle="inititalized" not working..?
            const myState = state;
            const myElement = element;
            if (props.src && state.source === null) {
                modulo.fetchQueue.fetch(props.src).then(text => {
                    myState.source = text;
                    myElement.rerender();
                });
            }
        }

        function renderCallback() {
            if (state.source === null) {
                return;
            }
            const opts = {};
            if (props.slideshow) {
                opts.slideshow = true;
            }
            let results = moduloMarkdown(state.source, opts);
            if (props.firstslide) { // extract first slide content
                results = results.split('</x-Slide>')[0];
                results = results.replace('<x-SlideShow>', '');
                results = results.replace('<x-Slide>', '');
            }
            if (results !== state.results) {
                state.results = results;
                component.innerHTML = results; // cause reconcile
            }
        }
    </Script>
</Component>

<Component name="SlideShow">
    <Template>
        <div class="toolbar">
            {% for slide in state.slides %}
                <button
                    class="slide-preview {% if slide.isSelected %}slide--selected{% endif %}"
                    @click:=script.setSlide
                    payload:='{{ slide.index }}'
                >{{ slide.html|safe }}</button>
            {% endfor %}
        </div>
        <div class="current-slide-window">
            <div class="all-slides" style="
                        --slide-offset: {{ state.offset }};
                        --slide-count: {{ state.slides|length }};
                    ">
                {% for slide in state.slides %}
                    <div class="slide-wrapper">
                        <div class="slide">
                            {{ slide.html|safe }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </Template>
    <State
        select:=0
        slides:=[]
    ></State>
    <Script lifecycle="initialized">
        function prepareCallback() {
            const slides = state.slides;
            if (!slides.length) {
                let index = 0;
                for (const child of element.originalChildren) {
                    if (!child.isModulo) {
                        continue; // only get Modulo components as children
                    }
                    slides.push({ index, html: child.innerHTML, select: state.select });
                    index++;
                }
            }
            let offset = 0;
            for (const slide of slides) {
                slide.isSelected = slide.index === state.select;
                if (slide.isSelected) {
                    offset = slide.index;
                }
            }
            state.slides = slides;
            state.offset = offset;
        }

        function setSlide(newIndex) {
            state.select = newIndex;
        }
    </Script>
    <Style
        -src="/static/libraries/courseware/SlideShow.css"
    ></Style>
</Component>

<Component name="Slide"> <!-- NOTE: x-Slide is basically unused, gets replaced above... -->
    <Style>
        :host {
            --activity-shadow-color: #00000033;
            --activity-shadow-spread: 5px;
            display: block;
            box-shadow: 3px  3px var(--activity-shadow-spread) var(--activity-shadow-color);
            padding: 20px;
            margin: 1px;
            border: 1px solid var(--activity-shadow-color);
            overflow-y: auto;
        }
    </Style>
</Component>

<Component name="LessonPage" mode="vanish-into-document">
    <Props
        path
    ></Props>

    <Template
        -src="/static/libraries/layout/LessonPage.html"
    ></Template>

    <StaticData
        -src="/__dirlist/foundations.json"
    ></StaticData>

    <Script
        -src="/static/libraries/layout/LessonPage.js"
    ></Script>

    <Style
        -src="/static/libraries/layout/LessonPage.css"
    ></Style>
</Component>


<Component name="LessonNav">
    <Props
        navselected
        subnav
    ></Props>
    <Template
        -src="/static/libraries/layout/LessonNav.html"
    ></Template>
    <Script
        -src="/static/libraries/layout/LessonNav.js"
    ></Script>
    <Style
        -src="/static/libraries/layout/LessonNav.css"
    ></Style>
</Component>


