<!DOCTYPE html>


<!DOCTYPE html>

<style>
    body {
        overflow: hidden;
        height: 100vh;
        width: 100vw;
    }
</style>

<script Modulo src="/static/js/Modulo.js" -src="/static/libraries/">
    <Library
        -src="https://unpkg.com/mdu.js@0.0.32/mdu/libraries/editorlib.html" 
    ></Library>
    <Library
        -src="https://unpkg.com/mdu.js@0.0.32/mdu/libraries/widgetslib.html" 
    ></Library>

    <Component name="SlideWrapper">
        <Template>
            <x-LandingPage title="{{ script.title }} - Slides" cls="slides">
                {% if script.instructions %}
                    <x-Markdown 
                        src="{{ script.instructions }}"
                    ></x-Markdown>
                {% endif %}
                {% if script.files %}
                    <x-ModuloEditor
                        files:=script.files
                    ></x-ModuloEditor>
                {% endif %}
            </x-LandingPage>
        </Template>

        <cpart Script>
                // TODO: Switch to using GetParams
            let files;
            let instructions;
            let title = 'Editor';
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('files')) {
                files = JSON.parse(urlParams.get('files'));
            }
            if (urlParams.has('instructions')) {
                instructions = urlParams.get('instructions');
            }
            if (urlParams.has('title')) {
                title = urlParams.get('title');
            }
            function prepareCallback () {
                return { files, instructions, title };
            }
        </cpart>
    </Component>
</script>

<x-SlideWrapper></x-SlideWrapper>
