
.Page--landing {
    --navy: #113;
    --primary: #113;
    --shiny: #efefffaa;
    --navy10: #11113316;
    --navy50: #11113388;
    --navy70: #111133bb;
    background: white;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--navy);
}


.Page--landing h1 {
    /* Will always be about 1/5 size */
    font-size: 5vw;
    color: var(--navy);
}

.Page--landing .shiny-top {
    user-select: none;
    text-align: center;
    border: var(--shiny) solid 2px;
    width: calc(100% + 100px);
    padding: 40px;
    /*background: #eaeaeaaa;*/
    margin: 0;
    margin-top: -43px; /* eat up padding */
    margin-bottom: 2vh;
    box-shadow:
        25px 25px 30px inset var(--shiny),
        -25px -25px 30px inset var(--navy10);
}

.Page--landing > h3,
.Page--landing > * > h3 {
    /*background: var(--primary);*/
    background: var(--navy);
    width: 60%;
    color: white;
    display: inline;
    padding: 10px;
    text-align: center;
}


.Page--landing .course-tile {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    width: 350px;
    position: relative;
    background: var(--bordercolor);
    padding: 10px;
    top: 0;
    left: 0;
    transition: top 0.5s,
                left 0.5s, 
                box-shadow 0.5s;
}

.Page--landing .course-tile:hover {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.5);
    top: -5px;
    left: -5px;
}

.Page--landing .course-tile > img {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.Page--landing .course-callout {
    /*background: var(--primary);*/
    /*background: var(--navy70);*/
    background: #ccc;
    border: var(--shiny) solid 2px;
    border-radius: 10px;
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 0.78rem;
    margin: 0;
    width: 45%;
    padding: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}
.Page--landing .course-callout--highlight {
    box-shadow:
        25px 25px 30px inset var(--shiny),
        -25px -25px 30px inset var(--navy10);

}

.Page--landing .course-callout > img {
    width: 25%;
    float: left;
}


.Page--landing .course-tile h4 {
    background: var(--bordercolor);
    position: absolute;
    top: 50px;
    left: 20px;
    color: white;
    font-size: 4.0rem;
    margin: 0;
    padding: 0;
}

.Page--landing img.course-tile--shading {
    box-shadow: 
                10px 10px 20px inset #ffffff99,
                -5px -5px 10px inset #00000099,
                5px 5px 30px inset #00000099;
    width: 100%;
}



.Page--landing .Btn--callToAction {
    /*background: var(--primary);*/
    background: var(--navy);
    padding: 10px;
    margin: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    box-shadow:
      -5px -5px 0 5px var(--bordercolor),
      0 0 0 3px var(--bordercolor),
      5px 5px 0 5px var(--bordercolor)
      ;
    transition: box-shadow 0.3s;
}

.Page--landing .Btn--callToAction:hover {
    box-shadow: 0 0 0 10px var(--navy50);
}


.Page--landing .Btn--callToAction::before {
    content: ' ';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.Page--landing .helper-text {
    font-size: 0.9rem;
    width: 60%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.Page--landing .course-tile-wrapper {
    display: flex;
}

.Page--landing .course-tile-wrapper > * {
    margin-right: 40px;
    margin-top: 40px;
}
.Page--landing .course-tile-wrapper > *:last-child {
    margin-right: 0;
}



.Page--landing .why-aside {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 3px;
    color: var(--navy);
    font-size: 0.85rem;
}

.wide-splash {
    margin-top: 100px;
    margin-bottom: 100px;
    box-sizing: border-box;
    width: calc(100vw - 20px);
    border: 3px solid var(--navy);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
}
    /*box-shadow: 
        5px 5px 30px inset var(--navy50),
        5px 5px 30px var(--navy50);*/

.wide-splash h2 big {
    font-size: 5rem;
}

.wide-splash h2 {
    background: var(--navy);
    color: white;
    text-align: right;
}

.wide-splash h3,
.wide-splash h2 {
    padding: 5px;
}

.wide-splash h3,
.wide-splash h4 {
    color: var(--navy);
}

.wide-splash h3::before {
    content: open-quote;
}
.wide-splash h3::after {
    content: close-quote;
}

.wide-splash .questions h3 {
    padding: 10px;
    font-size: 1.8rem;
    font-style: italic;
}

.why-aside img {
    max-width: 100%;
    border: 1px solid var(--bordercolor);
    margin: 0;
    box-shadow: 
               -3px  3px var(--activity-shadow-spread)       var(--activity-shadow-color),
                3px -3px var(--activity-shadow-spread)       var(--activity-shadow-color),
                3px  3px var(--activity-shadow-spread)       var(--activity-shadow-color),
               -3px -3px var(--activity-shadow-spread)       var(--activity-shadow-color);
}


.questions {
    border-right: 1px dotted var(--navy);
    padding: 5px;
}

.why-aside > div {
    border-top: 1px solid var(--navy);
}

.why-aside > div > a {
    text-align: center;
    background: var(--bordercolor);
    display: block;
    color: black;
    text-decoration: none;
}

@media (max-width: 992px) {
    .Page--landing .wide-splash {
        display: block;
    }
    .Page--landing .course-tile-wrapper {
        display: block;
    }
    .Page--landing .course-tile-wrapper > * {
        margin: 0;
        margin-top: 70px;
    }

}

