
    body {
        overflow: hidden;
        height: 100vh;
        width: 100vw;
    }

x-ModuloEditor {
    height: 100vh;
    width: 100vw;
    padding: 0;
    display: block;
    --m-shadow-spread: 0; /* default value */
}

x-ModuloEditor .ModuloEditor * {
    box-sizing: border-box;
}

x-ModuloEditor .ModuloEditor {
    font-family: var(--m-font);
    padding-top: 10px;
    padding-left: 5px;
    --editor-width: 750px;
    display: grid;
    /*height: calc(100vh - 20px);*/
    height: 100vh;
    width: 100vw;
    color: var(--m-black);
    box-sizing: border-box;
    grid-gap: 15px;
    grid-template-columns: 1fr var(--editor-width) 1fr;
}

x-ModuloEditor .ModuloEditor.layout--showPreview {
    grid-template-columns: 1fr calc(var(--editor-width) / 2) calc(var(--editor-width) / 2) 1fr;
}


x-ModuloEditor .ModuloEditor.layout--wide {
    --editor-width: calc(100vw - 500px);
    grid-gap: 0;
}

x-ModuloEditor .ModuloEditor.layout--full {
    display: block;
    margin-left: -11px;
    margin-top: -3px;
    margin-right: 13px;
}

/* full + showPreview combo */
x-ModuloEditor .ModuloEditor.layout--full.layout--showPreview x-EditorSidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: var(--m-white);
}

x-ModuloEditor .ModuloEditor.layout--full.layout--showPreview {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

x-ModuloEditor .ModuloEditor.layout--full .menu-button-holder > x-Btn {
    margin-top: -10px;
    margin-bottom: -70px;
    font-size: 16px;
    text-shadow: none;
    line-height: 25px;
    height: 70px;
    width: 50px;
    border-radius: 0;
    background: var(--m-white);
    box-shadow: none;
}

x-ModuloEditor .ModuloEditor.theme--l-mintygoo {
    --m-font: sans-serif;
    --m-black: #050505;
    --m-white: #fefefe;
    --m-shadow: rgba(0, 0, 0, 0.2);
    --primary: #a2e4b8;
    --m-primary: #a2e4b8;
    --m-highlight: #B90183;
    --base-font-size: 20px;
    --m-shadow-size: 15px;
    --m-icon-shadow-size: 2px;
    background: white;
    font-size: 20px;
}

x-ModuloEditor .ModuloEditor.theme--l-crisp {
    --m-font: serif;
    --m-black: #333;
    --m-white: #fff;
    --white: #fff;
    /*--m-shadow: rgba(0, 0, 0, 0.8);*/
    /*--m-shadow: #d5d5ff;*/
    --m-shadow: #00000055;
    --primary: #d5d5ff;
    --m-primary:  #d5d5ff;
    --m-highlight: #F8D784;
    --base-font-size: 22px;
    --m-shadow-size: 5px;
    --m-shadow-spread: 5px;
    --m-icon-shadow-size: 1px;
    background: white;
    font-size: 22px;
}

x-ModuloEditor .ModuloEditor.theme--l-crisp h3,
x-ModuloEditor .ModuloEditor.theme--l-crisp h4,
x-ModuloEditor .ModuloEditor.theme--l-crisp h5 {
    font-weight: lighter;
    background: var(--m-white);
    color: var(--m-black);
    box-shadow: none !important;
}

/*
x-ModuloEditor .ModuloEditor.theme--l-crisp .tab-box > * > h3:first-child {
    box-shadow:
        20px 0 0 0 var(--m-primary),
        -20px 0 0 0 var(--m-primary);
}
*/

x-ModuloEditor .ModuloEditor.theme--d-gooeymint {
    --m-font: sans-serif;
    --m-black: #ffffffaa;
    --m-white: #000000aa;
    --white: #000000dd;
    --m-shadow: rgba(255, 255, 255, 0.5);
    --m-primary: #B90183ee;
    --primary: #B90183ee;
    --m-highlight: #a2e4b8ee;
    /*--base-font-size: 22px;*/
    --m-shadow-size: 5px;
    --m-icon-shadow-size: 1px;
    background: black;
    font-size: 22px;
}

x-ModuloEditor .ModuloEditor.theme--d-curses {
    --m-font: monospace;
    --m-black: #aeaeae;
    --m-white: #000000;
    --white: #000000;
    /*--m-shadow: rgba(0, 0, 0, 0.8);*/
    --m-shadow: #E099DFBB;
    /*--primary: #03A470;
    --m-primary:  #03A470;*/
    --primary: #03A470;
    --m-primary:  #03A470;
    --m-highlight: #03A470;
    --base-font-size: 19px;
    --m-shadow-size: 10px;
    --m-icon-shadow-size: 10px;
    background: black;
    font-size: 19px;
}


x-ModuloEditor .ModuloEditor.theme--d-curses h3,
x-ModuloEditor .ModuloEditor.theme--d-curses h4,
x-ModuloEditor .ModuloEditor.theme--d-curses h5 {
    text-transform: uppercase;
}

x-ModuloEditor .ModuloEditor.theme--d-gooeymint h3,
x-ModuloEditor .ModuloEditor.theme--d-gooeymint h4,
x-ModuloEditor .ModuloEditor.theme--d-gooeymint h5 {
    text-align: center;
}

@media (max-width: 992px) {
x-ModuloEditor .ModuloEditor {
        display: block;
    }

x-ModuloEditor .menu-button-holder > x-Btn {
        margin-top: -10px;
        margin-bottom: -70px;
        font-size: 16px;
        text-shadow: none;
        line-height: 25px;
        height: 70px;
        width: 50px;
        border-radius: 0;
        background: var(--m-white);
        box-shadow: none;
    }
}


x-EditorPreview {
    border: 3px solid black;
    display: block;
    width: 100%;
    height: calc(100vh - 20px);
    box-shadow: var(--m-shadow-size) var(--m-shadow-size)  var(--m-shadow-spread) var(--m-shadow);
}

x-EditorPreview #main_editor {
    height: 100%;
    width: 100%;
}

x-EditorPreview h3 {
    background: var(--m-black);
    color: var(--m-white);
    padding: 3px;
    padding-left: 50px;
    margin: 0;
    font-family: monospace;
    font-weight: lighter;
    margin-bottom: 0;
}

x-FileBrowser {
}

x-FileBrowser .file {
    display: block;
    border: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 2px;
    margin: 2px;
    font-family: monospace;
    font-size: var(--base-font-size);
}

x-FileBrowser .file tt {
    color: rgba(0, 0, 0, 0.01);
}

x-FileBrowser .file:hover tt {
    color: rgba(0, 0, 0, 0.2);
}

x-FileBrowser .file:hover tt:hover {
    color: rgba(0, 0, 0, 0.5);
}

x-FileBrowser > h3 {
    background: var(--m-black);
    color: var(--m-white);
    padding: 3px;
    margin: -20px;
    margin-top: -34px;
    font-family: monospace;
    font-weight: lighter;
    margin-bottom: 0;
}

x-EditorSidebar {
    display: block;
    position: relative;
    --sidebar-width: 75px;
    --tab-box-width: 400px;
}

x-EditorSidebar .left-square {
    display: block;
    width: 0;
    height: 0;
    background-color: var(--m-primary);
    position: relative;
}

x-EditorSidebar .left-square::before {
    display: block;
    content: ' ';
    width: var(--sidebar-width);
    height: 100px;
    left: -10px;
    position: relative;
    background-color: var(--m-primary);
    transition:
        opacity 0.2s,
        width 0.2s,
        height 0.2s;
}

x-EditorSidebar .menu-holder {
    padding-top: 80px;
    background-color: #ffffff00;
    transition: background-color 0.1s;
}

x-EditorSidebar .menu-holder.menu-holder--null {
    /* In null state (tab not selected, but visible -- may not be available
    ** depending on conf) */
    background-color: var(--m-primary);
}

x-EditorSidebar .menu-holder > x-Btn {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    text-shadow: var(--m-icon-shadow-size) var(--m-icon-shadow-size) var(--m-shadow-spread) var(--m-shadow);
}

x-EditorSidebar .menu-holder > x-Btn:hover {
    text-shadow: 0 0 5px var(--m-highlight);
}

x-EditorSidebar .menu-holder > x-Btn .btn-superimpose {
    position: absolute;
    top: 1px;
    left: 11px;
    z-index: 3;
    opacity: 0.0;
    transition: opacity 0.5s;
}

x-EditorSidebar .menu-holder > x-Btn.menu--selected .btn-superimpose {
    opacity: 1.0;
}

/*
x-EditorSidebar .menu-holder > x-Btn:hover {
    text-shadow: var(--m-icon-shadow-size) var(--m-icon-shadow-size) 0px var(--m-highlight);
}
*/

x-EditorSidebar .tab-box {
    border: 3px solid var(--m-black);
    padding: 20px;
    display: block;
    width: 100%;
    max-width: var(--tab-box-width);
    box-shadow: var(--m-shadow-size) var(--m-shadow-size)  var(--m-shadow-spread) var(--m-shadow);
    background: var(--m-white);
    margin-bottom: 10px;
}

x-EditorSidebar .tab-box > h3 {
    background: var(--m-black);
    color: var(--m-white);
    padding: 3px;
    margin: -20px;
    margin-top: -34px;
    font-family: monospace;
    font-weight: lighter;
    margin-bottom: 0;
}

x-EditorSidebar .tab-box > * > h3 {
    background: var(--m-black);
    color: var(--m-white);
    padding: 3px;
    margin: 0;
    font-weight: lighter;
    margin-bottom: 5px;
    margin-top: 20px;
}
x-EditorSidebar .tab-box > * > h3:first-child {
    margin-top: -20px;
    box-shadow:
        20px 0 0 0 var(--m-black),
        -20px 0 0 0 var(--m-black);
}

x-EditorSidebar .upper-left-circle {
    display: block;
    width: 100px;
    height: 100px;
    background-color: var(--m-primary);
    border-radius: 100px;
    position: absolute;
    top: -65px;
    left: -65px;
    z-index: 0;
    transition:
        opacity 0.2s,
        width 0.2s,
        height 0.2s;
}

x-EditorSidebar .upper-left-circle.filled {
    width: 200px;
    height: 800px;
    left: 100px;
    opacity: 0;
    border-radius: 0;
    transition:
        border-radius 0.3s,
        opacity 0.3s,
        width 0.5s,
        height 0.5s,
        left 0.2s;
}

x-EditorSidebar .menu-button-holder {
    position: relative;
    z-index: 2;
}

x-EditorSidebar .menu-wrapper {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 0 var(--sidebar-width) 1fr;
}

x-EditorSidebar .tab-holder {
    background: var(--m-white);
    height: 100%;
    padding: 20px;
    margin: -10px;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: clip;
    transition: none;
    opacity: 0;
}

x-EditorSidebar .tab-holder > * {
    display: none !important;
}

x-EditorSidebar .tab-holder.tab-holder--filled {
    /* Only transition TO, instantly disappear FROM */
    transition: background 0.5s;
}

x-EditorSidebar .menu-wrapper--visible  .tab-holder.tab-holder--filled {
    background: var(--m-primary);
    opacity: 1;
}
x-EditorSidebar .menu-wrapper--visible .tab-holder.tab-holder--filled > * {
    display: inherit !important;
}




x-FileEditor {
    border: 3px solid black;
    display: block;
    width: 100%;
    height: calc(100vh - 20px);
    box-shadow: var(--m-shadow-size) var(--m-shadow-size)  var(--m-shadow-spread) var(--m-shadow);
}

x-FileEditor #main_editor {
    height: 100%;
    width: 100%;
}

x-FileEditor h3 {
    background: var(--m-black);
    color: var(--m-white);
    padding: 3px;
    padding-left: 50px;
    margin: 0;
    font-family: monospace;
    font-weight: lighter;
    margin-bottom: 0;
}

x-Btn {
    font-family: var(--m-font);
    border-radius: 7px;
    /*background-color: var(--m-white);*/
    cursor: pointer;
    color: var(--m-black);
    font-size: 1.2rem;
    display: block;
    user-select: none;
    margin-bottom: 3px;
    padding: 5px;
    transition: background-color 0.2s
                ,text-shadow 0.2s
                ,box-shadow 0.5s
                ,background-size 0.2s
                ;
    font-weight: 500;
    border: 3px solid var(--m-black);
    /*border: 3px solid var(--m-primary);*/
    /* For a more isometric look: */
    border-top-width: 2px;
    border-bottom-width: 4px;
    box-shadow: calc(var(--m-shadow-size) / -8) calc(var(--m-shadow-size) / -8) 0 inset var(--m-shadow);
}

x-Btn:active {
    box-shadow: calc(var(--m-shadow-size) / 2) calc(var(--m-shadow-size) / 2) 0 inset var(--m-shadow);
}

x-Btn.actions {
    font-size: 3.0rem;
    line-height: 80px;
    text-align: center;
    border-radius: 100px;
    margin-top: -6px;
    margin-left: -6px;
    width: 80px;
    height: 80px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    padding: 0;
    transition: background-size 0.2s;
    transition-timing-function: ease-out;
    background: radial-gradient(
        circle at bottom,
        var(--m-primary) 50%,
        var(--m-white) 50.5%,
        var(--m-white) 100%);
    background-repeat: no-repeat;
    background-size: 1% 1%;
    background-position: top left;
}

x-Btn.actions--tl {
    background-position: bottom right;
}

x-Btn.actions:hover,
x-Btn.actions:active {
    color: var(--m-black) !important;
    /*background-color: var(--m-green);*/
    /*box-shadow: 0 0 0 5px var(--m-green);*/
    font-weight: 700;
    /*background-size: 197% 197%;*/
    background-size: 127% 127%;
}



x-Options .right-square {
            position: absolute;
            right: 10px;
            top: -3px;
            z-index: 0;
            height: calc(100% + 6px);
            width: 80px;
            background: var(--m-highlight);
        }
    

x-Checkbox label {
            position: relative;
            text-align: right;
            margin: 10px;
            padding: 10px;
            border-bottom: 1px dotted var(--m-black);
            user-select: none;
        }
x-Checkbox input {
            display: none;
        }
x-Checkbox .u-checkbtn {
            font-size: 30px;
            line-height: 40px;
            padding-top: 5px;
            height: 50px;
            position: relative;
            margin-top: 10px;
            text-align: center;
            box-shadow: calc(var(--m-shadow-size) / 8) calc(var(--m-shadow-size) / 8) 0 inset var(--m-shadow);
        }
x-Checkbox .label-group {
            display: grid;
            grid-template-columns: 1fr 50px;
        }
x-Checkbox .right-square {
            position: absolute;
            right: -10px;
            top: 20px;
            z-index: 0;
            height: calc(100% - 30px);
            width: 70px;
            background: var(--m-highlight);
        }
    
:root {
    --bluebird: #19B5FE;
    --cerulean: #0698DC;
    --sunshine: #FFD300;
    --golden: #D9A400;
    --white: #ffffff;
    --primary: var(--cerulean);
    --bordercolor: rgba(127, 127, 127, 0.5);
    --sidebar-width: 280px;
}

html {
    font-family: sans-serif;
    background: url('/static/images/lowpoly_x4.jpg');
}

html * {
    box-sizing: border-box;
}

.Page-container {
    display: grid;
    grid-template-columns: 1fr var(--sidebar-width) minmax(auto, 1920px) 1fr;
    grid-template-rows: auto;
    min-height: calc(100vh - 120px); /* 100px for footer */
}

.Page-container > :first-child {
    grid-column: 2; /* First column is being used as margin */
}

.Page-mainContent {
    grid-column: 3;
    padding: 10px;
    margin: 10px;
    margin-top: 0;
    box-shadow: 5px 5px 0 10px var(--bordercolor);
    background: var(--white);
}

.Page-mainContent h1 {
    border-bottom: 1px dotted var(--bordercolor);
}

.Page-mainContent code {
    border-bottom: 1px dashed gray;
}

.Page-mainContent > slot > img {
    min-height: 100px;
}

.Page-footer {
    height: 100px;
    text-align: center;
    padding-top: 30px
}

.u--mobile {
    display: none;
}

.u--desktop {
    display: block;
}

.Page-toolbar {
    padding: 5px;
    background: var(--bordercolor);
    font-weight: bold;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .Page-container {
        display: block;
    }
    .u--mobile {
        display: block;
    }
    .u--desktop {
        display: none;
    }
}

.LessonPage-activity {
    --activity-shadow-color: #00000022;
    --activity-shadow-spread: 2px;
    --hover-shadow-color: #00000022;
    --hover-shadow-spread: 5px;
    --subtle-shadow-color: #0698DC22;
    --subtle-shadow-spread: 75px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 2px  2px var(--activity-shadow-spread) inset var(--activity-shadow-color),
               -2px -2px var(--activity-shadow-spread) inset var(--activity-shadow-color),
                3px  3px var(--activity-shadow-spread)       var(--activity-shadow-color),
               -3px -3px var(--activity-shadow-spread)       var(--activity-shadow-color);
    border: 1px solid #00000016;
    border-radius: 5px;
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.LessonPage-activity h2 {
    margin: 0;
    padding: 3px;
    background: var(--activity-shadow-color);
    display: block;
}

.LessonPage-activity h2:first-child {
    margin: -20px;
    margin-bottom: 5px;
    padding: 22px;
    grid-column: span 2;
}

.LessonPage-activity > figure {
    display: block;
    max-width: 1044px;
    padding: 20px;
    position: relative;
    border-radius: 15px;
    box-shadow: 
               -3px  3px var(--activity-shadow-spread)       var(--activity-shadow-color),
                3px -3px var(--activity-shadow-spread)       var(--activity-shadow-color),
                3px  3px var(--activity-shadow-spread)       var(--activity-shadow-color),
               -3px -3px var(--activity-shadow-spread)       var(--activity-shadow-color);
}

.LessonPage-activity > figure > img {
    max-width: 100%;
    border: 1px solid var(--activity-shadow-color);
}

.LessonPage-activity > figure a {
    position: absolute;
    bottom: 10px;
    left: -2px;
    height: 35px;
    width: calc(100% + 4px);
    text-align: center;
    background: var(--activity-shadow-color);
    font-weight: bold;
    /*color: #888; */
    padding: 5px;
    transition: box-shadow 0.2s;

    box-shadow: 3px  3px var(--subtle-shadow-spread) inset var(--subtle-shadow-color),
               -3px -3px var(--subtle-shadow-spread) inset var(--subtle-shadow-color),
                3px  3px var(--subtle-shadow-spread)       var(--subtle-shadow-color),
               -3px -3px var(--subtle-shadow-spread)       var(--subtle-shadow-color);
}


.slide-card {
    display: block;
    max-width: 1044px;
    padding: 20px;
    position: relative;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 
               -1px  1px var(--activity-shadow-spread)       var(--activity-shadow-color),
                1px -1px var(--activity-shadow-spread)       var(--activity-shadow-color),
                1px  1px var(--activity-shadow-spread)       var(--activity-shadow-color),
               -1px -1px var(--activity-shadow-spread)       var(--activity-shadow-color);
}

.slide-preview {
    height: 250px;
    overflow: hidden;
    opacity: 0.8;
}

.slide-card > a {
    position: absolute;
    bottom: 10px;
    left: 2px;
    height: calc(100% - 30px);
    padding: 5px;
    padding-top: 250px;
    width: calc(100% - 4px);
    text-align: center;
    transition:
        background 0.3s,
        box-shadow 0.3s;
    background: linear-gradient(#ffffff00, #fff);
    font-weight: bold;
    box-shadow: 
               -1px  1px var(--activity-shadow-spread)       #fff,
                1px -1px var(--activity-shadow-spread)       #fff,
                1px  1px var(--activity-shadow-spread)       #fff,
               -1px -1px var(--activity-shadow-spread)       #fff;
}

.slide-card > a:hover {
    background: linear-gradient(var(--subtle-shadow-color), #fff);
    box-shadow: 3px  3px var(--subtle-shadow-spread)       var(--subtle-shadow-color),
               -3px -3px var(--subtle-shadow-spread)       var(--subtle-shadow-color);
}

/*
.LessonPage-activity > figure a:hover {
}
*/

x-LessonNav {
    text-align: right;
}

x-LessonNav nav {
}

x-LessonNav ul {
    position: sticky;
    top: 0;
}

x-LessonNav li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
}

x-LessonNav h1,
x-LessonNav h2 {
    font-weight: 800;
    color: white;
    text-align: center;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

x-LessonNav h2 {
    margin: 0;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 1.2rem;
}

x-LessonNav h1 {
    font-size: 2.5rem;
    text-align: center;
}

x-LessonNav h1 .of {
    font-size: 3.0rem;
    font-style: italic;
    font-weight: 100;
    font-family: cursive, serif;
    text-align: center;
}

x-LessonNav .Page-navLink {
    color: black;
    font-size: 1.4rem;
    border: 2px solid var(--bordercolor);
    display: block;
    padding: 5px;
    text-decoration: none;
    box-shadow: 0 0 0 5px var(--bordercolor);
    background: white;
    padding-left: 12px;
}

x-LessonNav .Page-navLink--link {
    color: var(--primary);
    font-size: 1.01rem;
    border: none;
    display: block;
    padding: 0;
    text-decoration: underline;
    box-shadow: none;
    background: none;
    padding-left: 12px;

}

x-LessonNav .Page-navLink--selected {
    background-color: var(--primary);
    color: white;
}

x-LessonNav .Page-navLink--selected .Page-navLinkModule {
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
				-1px -1px 0 #000;
}

x-LessonNav .Page-navLinkModule {
    font-weight: 800;
    font-size: 1.8rem;
    display: inline-block;
    position: absolute;
    left: -19px;
    padding: 2px;
    box-shadow: 0 0 0 5px var(--bordercolor);
    background: var(--bordercolor);
}

x-LessonNav .Page-navLink:hover {
    border-color: var(--primary);
}

x-LessonNav .Page-navLink--selected {
}

x-LessonNav .subnav {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid var(--bordercolor);
    display: block;
    padding: 5px;
    padding-left: 12px;
    background: var(--bordercolor);
    font-weight: bold;
    color: white;
}


.Page--landing {
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Page--landing h3 {
    background: var(--primary);
    width: 50%;
    color: white;
    display: inline;
    padding: 10px;
}


.Page--landing .course-tile {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    width: 350px;
    position: relative;
    background: var(--bordercolor);
    padding: 20px;
}

.Page--landing .course-tile > img {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.Page--landing .course-callout {
    background: var(--primary);
    position: absolute;
    top: -15px;
    right: -15px;
    color: white;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    width: 40%;
    padding: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

.Page--landing .course-callout > img {
    width: 40%;
    float: left;
}

.Page--landing .course-tile h4 {
    background: var(--bordercolor);
    position: absolute;
    top: 50px;
    left: 20px;
    color: white;
    font-size: 4.0rem;
    margin: 0;
    padding: 0;
}

.Page--landing h4 {

}

.Page--landing .Btn--callToAction {
    background: var(--primary);
    padding: 10px;
    margin: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    box-shadow:
      -5px -5px 0 5px var(--bordercolor),
      0 0 0 3px var(--bordercolor),
      5px 5px 0 5px var(--bordercolor)
      ;
    transition: box-shadow 0.3s;
}

.Page--landing .Btn--callToAction:hover {
    box-shadow: 0 0 0 10px var(--bluebird);
}

.Page--landing label {
    font-size: 0.9rem;
    width: 50%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.Page--landing .course-tile-wrapper {
    display: flex;
}

.Page--landing .course-tile-wrapper > * {
    margin-left: 40px;
}

.Page--landing .course-tile-wrapper > :first-child {
    margin: 0;
}

x-SlideShow {
    --activity-shadow-color: #00000033;
    --activity-shadow-spread: 5px;
    box-sizing: border-box;
    padding: 2px;
    position: relative;
    font-size: 1.5vw;
    display: block;
    width: calc(100vw - 20px);
    height: calc(100vh - 100px);
}

x-SlideShow * {
    box-sizing: border-box;
}

x-SlideShow .toolbar {
    display: block;
    display: flex;
    font-size: 0.3vw;
}

x-SlideShow .current-slide-window {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

x-SlideShow .all-slides {
    transition: margin-left 0.2s;
    margin-left: calc(-100vw * var(--slide-offset));
    height: 100%;
    background: #fff;
    display: flex;
    width: calc(100vw * var(--slide-count));
}

x-SlideShow .slide-wrapper {
    width: 100vw;
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
}

x-SlideShow .slide {
    overflow-y: auto;
    box-shadow: 3px 3px var(--activity-shadow-spread) var(--activity-shadow-color);
    padding: 2vw;
    height: 85vh;
    width: calc(100vw - 28px);
    border: 1px solid var(--activity-shadow-color);
}


x-SlideShow .toolbar button.slide-preview {
    display: block;
    overflow: hidden;
    background: #ffffffaa;
    max-width: 20%;
    min-width: 100px;
    min-height: 100px;
    max-height: 15vh;
    border: 2px solid white;
}


x-SlideShow .toolbar button.slide--selected {
    background: #fff;
    border: 2px solid var(--primary);
    color: #888; /* 50% gray */
}



x-Slide {
            --activity-shadow-color: #00000033;
            --activity-shadow-spread: 5px;
            display: block;
            box-shadow: 3px  3px var(--activity-shadow-spread) var(--activity-shadow-color);
            padding: 20px;
            margin: 1px;
            border: 1px solid var(--activity-shadow-color);
            overflow-y: auto;
        }
    
/* You can put site-wide settings here. These will never be prefixed and
** instead included verbatim. Component styles will be listed after. */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}
